.Banner__copy
	img.Banner__avatar(src="dist/assets/img/8da91ee5cba16c7af3b9501cf4ee947b.jpg", alt="", srcset="")
	h1.Banner__title Alexander Chip
	p.Banner__description Creative Designer / Frontend
	include ./social-networks
	.Banner__container--buttons
		a(href="#profile").Button.Banner__button Here Me
		a(href="#work").Button.Banner__button My Work