footer.Footer
	.container
		.Footer__container
			.Footer__container--phone
				p.Footer__info--phone.icon-phone +(502) 4744 - 3173
				p.Footer__info--phone.icon-phone +(502) 4098 - 4950
			.Footer__container--address
				p.Footer__info--email.icon-mail alexchip32@gmail.com
				p.Footer__info--address.icon-home San Pedro Yepocapa, Chimaltenango