footer.Footer
	.container
		.Footer__container
			.Footer__container--phone
				p.Footer__info--phone.icon-phone <span>Cel:</span> +(502) 4744 - 3173
				p.Footer__info--phone.icon-phone <span>Cel:</span> +(502) 4098 - 4950
			.Footer__container--address
				p.Footer__info--email.icon-mail <span>Email:</span> alexchip32@gmail.com
				p.Footer__info--address.icon-home <span>Dirección:</span> 2da. Av. 35-88 Colonia Toledo Zona 11 Guatemala