section.Work#work
	h2.Work__title.Title-sections My Recent Work
	.container
		.Work__container-gallery
			.Work__container-img
				img.Work__img(src="dist/assets/img/6ae197a49b01cf8c4fae425926f7848f.png", alt="Helados Mariela")
				a.Work__link(href="https://alex-chip.github.io/page-helados/" target="_blank") Helados Mariela
			.Work__container-img
				img.Work__img(src="dist/assets/img/88c349d8499659747cbdd0c509b1d93a.png", alt="The song")
				a.Work__link(href="https://alex-chip.github.io/the-song/" target="_blank") The Song
			.Work__container-img
				img.Work__img(src="dist/assets/img/49dcee6773da9932ef771b0894a1d3b9.png", alt="Anema")
				a.Work__link(href="https://alex-chip.github.io/page-anema/" target="_blank") Anema
			.Work__container-img
				img.Work__img(src="dist/assets/img/03f0fed38ee4db5ffe2577ba5cfb8601.png", alt="Hotel Yepocapa")
				a.Work__link(href="https://alex-chip.github.io/hotel-yepocapa/" target="_blank") Hotel Yepocapa
			.Work__container-img
				img.Work__img(src="dist/assets/img/2dddea57b2ddcb638c281e4eca2b0a86.png", alt="Abogados")
				a.Work__link(href="https://alex-chip.github.io/abogados-group/" target="_blank") Abogados
			.Work__container-img
				img.Work__img(src="dist/assets/img/f061caaf1a5d3c9f2c9d743b0c3292b9.png", alt="Movies")
				a.Work__link(href="https://movies-new.herokuapp.com/" target="_blank") The Movies
			.Work__container-img
				img.Work__img(src="dist/assets/img/fb3bba1dc4f8960fe99fe2a16e31b317.png", alt="Grand Hotel")
				a.Work__link(href="https://alex-chip.github.io/page-grand-hotel/" target="_blank") Grand Hotel
			.Work__container-img
				img.Work__img(src="dist/assets/img/df7fafde1a19b5ab4a934592477277cb.png", alt="Photo Instant")
				a.Work__link(href="https://alex-chip.github.io/photo-instant/" target="_blank") Photo Instant
					