.Social
	ul.Social__list
		li.Social__item: a.Social__link.icon-facebook(href="https://www.facebook.com/alex.chip2")
		li.Social__item: a.Social__link.icon-twitter(href="https://twitter.com/alex_chip42")
		li.Social__item: a.Social__link.icon-linkedin(href="https://www.linkedin.com/in/alexander-chip-512726159/")
		li.Social__item: a.Social__link.icon-github(href="https://github.com/alex-chip")
		li.Social__item: a.Social__link.icon-gitlab(href="https://gitlab.com/alex-chip")
