.Banner {
	background: url('https://previews.dropbox.com/p/thumb/AAR6jtmNMsiOsV945-sPjxXxSN8BQFTTfIDJKKWDA0WAEj4bTyOJ_aSnuzY4k7jCIwxuPVw_u9lLkTT50yYn8ln3UwdNMJ8BU3D3nQdM20akIY4Ub6Ztt9rVoVZRNkFM1IfTFMr8g-tpsZ5edD3kscGSp84vGVSo4jkFkfbo4-NVcsq6mRE-sOG228avUVXeS1HdXyYc1G2uYA0i6tAiNyG-sbqF979OyWOH_OZwme1Neg/p.jpeg?size=1280x960&size_mode=3') center center / cover no-repeat;
	min-height: 100vh;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(
			to left,
			var(--first-color),
			var(--second-color)
		);
		opacity: .4;
	}

	&__copy {
		text-align: center;
		color: #FFF;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	&__avatar {
		border-radius: 50%;
		border: 4px solid #fff;
		width: 30%;

		@include from(m) {
			width: 15%;
		}
	}

	&__title {
		font-size: 2.2em;
		margin: 0;

		@include to(m) {
			font-size: 1.6em;
		}
	}
	&__description {
		margin: 0;
		margin-bottom: 1em;
		
		@include to(m) {
			font-size: .75em;
		}
	}

	&__container--buttons {
		display: flex;
		justify-content: center;
	}
	
	&__button {
		transition: all .3s;
		padding: .4em 1.1em;
		&:first-child {
			margin-right: $gap;
		}
		&:hover {
			background: var(--first-color);
			border: 1px var(--first-color);
		}

		@include to(m) {
			padding: .2em .8em;
			font-size: .9em;

			&:first-child {
				margin-right: $gap / 2;
			}
		}
	}
}