.Footer {
	padding: $gap;
	text-align: center;
	background: var(--second-color);
	&__container {
		&--phone {
			border-bottom: 2px solid rgba(#FFF, .2);
			padding-bottom: $gap / 2;

			@include from(m) {
				border-bottom: none;
				border-right: 2px solid rgba(#FFF, .2);
				// padding-right: $gap;
				width: 50%;
				padding-bottom: 0;
			}
		}

		&--address {
			padding-top: $gap / 2;

			@include from(m) {
				padding-top: 0;
				width: 50%;
			}
		}

		& p {
			color: rgba(#FFF, .6);
			font-size: .9em;
			margin: 0;
			
			&::before {
				margin-right: .5em;
			}

			& > span {
				font-weight: bold;
			}
		}
		
		@include from(m) {
			display: flex;
			justify-content: space-around;
		}
	}
	
	&__info {
		color: rgba(#000, .2);
	}
}
