.Work {
	margin-bottom: $gap * 2;
	color: $second-color;
	&__container {
	
		&-gallery {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: $gap;
			// grid-template-rows: repeat()
			padding: 0 $gap / 2;
	
			@include from(l) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}

	&__card {
		border-radius: .25em;
		box-shadow: 3px 3px 10px rgba($second-color, .5);

		&--image {
			border-radius: .25em .25em 0 0;
			position: relative;

			& > img {
				display: block;
			}
		}

		&--link {
			position: absolute;
			background: $first-color;
			color: #fff;
			font-size: 16px;
			border-radius: 50%;
			height: 45px;
			width: 45px;
			text-align: center;
			line-height: 45px;
			right: 5%;
			bottom: -25px;
			transition: all .3s;
			box-shadow: 3px 3px 10px rgba($first-color, .5);

			&:hover {
				background: darken($first-color, 10%)
			}
		}

	}
	
	&__content {
		background: darken(#FFF, 4%);
		padding: 1em;
		font-weight: 200;

		&--title {
			font-size: 24px;
		}

		&--description {
			margin: 0;
			font-size: 16px;
		}
	}
}