 .Skills {
	padding-bottom: $gap;
	margin-bottom: $gap;

	&__title {
		margin: 0;
		padding: 0;
	}

	&__description {
		margin-top: 0;
		margin-bottom: $gap;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		overflow: hidden;

		@media screen and (min-width: $m) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

.circular-progress {
	&,
	&::before,
	&:after {
		width: $size-progresive;
		height: $size-progresive;
		border-radius: 50%;
	}
	margin: auto;
	position: relative;

	&:before,
	&:after {
		top: 0;
		left: 0;
		position: absolute;
	}
	&:before {
		padding: .5em;
		box-sizing: border-box;
		font-size: $size-progresive / 6;
		line-height: $size-progresive / 2;
	}
	&:after {
		text-transform: uppercase;
		line-height: $size-progresive;
		// font-size: $size-progresive / 6;
	}
}

.html {
	@include circular-progress(
		85,
		html,
		$html-color,
		$third-color
	);
}

.css {
	@include circular-progress(
		70,
		css,
		$css-color,
		$third-color
	);
}

.js {
	@include circular-progress(
		50,
		javascript,
		$js-color,
		$third-color
	);
}

.mongodb {
	@include circular-progress(
		60,
		mongodb,
		$mongodb-color,
		$third-color
	);
}

.mysql {
	@include circular-progress(
		70,
		mysql,
		$mysql-color,
		$third-color
	);
}

.nodejs {
	@include circular-progress(
		60,
		nodejs,
		$nodejs-color,
		$third-color
	);
}