<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(href="https://file.myfontastic.com/mdofrjCmKsF94AYNkVr3u7/icons.css" rel="stylesheet")
		title Alex Chip
	body
		section.Banner
			include ./blocks/banner
		
		main.Main
			.container
				include ./blocks/about

				include ./blocks/skills

		include ./blocks/my-work 

		include ./blocks/footer